hug>=2.4.0,<3.0.0
hug-middleware-cors>=1.0.0,<2.0.0
spacy>=2.0.10,<2.1.0
waitress>=1.0.2,<2.0.0

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#egg=en_core_web_sm==2.0.0
